<!doctype html>
<html lang="it">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/stylesheets/moloc.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.13.0/dist/sweetalert2.css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
  <link rel='shortcut icon' type='image/x-icon' href='/images/favicon-moloc.ico' />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
  <title>moloc: un ambiente per modellare il lavoro collaborativo</title>
</head>

<body>
  <!--Header-->
  <nav class="navbar navbar-dark py-1 navtop fixed-top border-bottom border-dark shadow-lg justify-content-start">
    <a class="navbar-brand" href="/">moloc <small>v. 6.7</small></a>
    <div class="d-flex justify-content-between col-md-10 col-sm-8 ml-5">
      <select class="selectpicker" onchange="window.location.href=this.value">
        <%if (utente.moderatore == true) { %>
        <optgroup label="Dashboard">
          <option value="/profilo_admin">Gestione Utenti</option>
          <option value="/profilo_admin/gestione_modelli">Gestione Modelli</option>
          <option value="/profilo_admin/gestione_corsi">Gestione Corso</option>
        </optgroup>
        <optgroup label="Modellazione">
          <option selected>Modifica</option>
          <option value="/profilo_admin/<%=modello.id%>/<%=modello.titolo.split(' ').join('_');%>/valida_progetto">Analizza Modello</option>
        </optgroup>
        <% } else{ %>
        <optgroup label="Dashboard">
          <option value="/profilo_utente">Gestione Profilo</option>
        </optgroup>
        <optgroup label="Modellazione">
          <option selected>Modifica Modello</option>
          <option value="/profilo_utente/<%=modello.id%>/<%=modello.titolo.split(' ').join('_');%>/valida_progetto">Analizza Modello</option>
        </optgroup>
        <% } %>
      </select>
      <ul class="nav">
        <li class="nav-item dropdown mr-5">
          <a class="nav-link dropdown-toggle utente text-right" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= utente.username %>
          </a>
          <div class="dropdown-menu utentelogin" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/logout">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  <!--End header-->
  <!--Main content -->
  <div class="container-fluid page-content" id="up">
    <div class="row">
      <div class="section-title col-11 mx-auto py-3 border-bottom border-dark">
        <h3 class="mt-5">Modifica modello</h3>
      </div>
      <div class="section-content col-12 py-5">
        <%if (modello.flag) { %>
        <%if (utente.moderatore == true) { %>
        <form action="/profilo_admin/<%=modello.id%>/<%=modello.titolo.split(' ').join('_');%>/crea_versione" method="post" class="col-12">
          <% } else{ %>
          <form action="/profilo_utente/<%=modello.id%>/<%=modello.titolo.split(' ').join('_');%>/crea_versione" method="post" class="col-12">
            <% } %>
            <% } else{ %>
            <%if (utente.moderatore == true) { %>
            <form action="/profilo_admin/<%=modello.id%>/<%=modello.titolo.split(' ').join('_');%>/ripristina_versione" method="post" class="col-12">
              <% } else{ %>
              <form action="/profilo_utente/<%=modello.id%>/<%=modello.titolo.split(' ').join('_');%>/ripristina_versione" method="post" class="col-12">
                <% } %>
                <% } %>
                <div class="form-row col-12">
                  <div class="form-group col-9">
                    <label class="d-block"><b>Titolo</b></label>
                    <%if (!modello.flag) { %>
                    <input type="text" class="form-control col-12 d-inline border-dark" style="color: black" name="Titolo" value="<%=modello.titolo%>" readonly>
                    <% } else{ %>
                    <input type="text" class="form-control col-12 d-inline border-dark" style="color: black" name="Titolo" value="<%=modello.titolo%>">
                    <% } %>

                  </div>
                  <div class="col-2 offset-1">
                    <label class="d-block"><b>Versione</b></label>
                    <%if (utente.moderatore == true) { %>
                    <select class="form-control d-inline col-12" style="color: black" onchange="window.location.href=this.value">
                      <% versioni.forEach(function(versione){ %>
                      <%if (versione.id == modello.id) { %>
                      <option value="/profilo_admin/<%=versione.id%>/<%=versione.titolo.split(' ').join('_');%>/modifica_progetto" selected><%=(versione.indice).toFixed(2)%></option>
                      <% } else{ %>
                      <option value="/profilo_admin/<%=versione.id%>/<%=versione.titolo.split(' ').join('_');%>/modifica_progetto"><%=(versione.indice).toFixed(2)%></option>
                      <% } %>
                      <% }) %>
                    </select>
                    <% } else{ %>
                    <select class="form-control d-inline col-12" style="color: black" onchange="window.location.href=this.value">
                      <% versioni.forEach(function(versione){ %>
                      <%if (versione.id == modello.id) { %>
                      <option value="/profilo_utente/<%=versione.id%>/<%=versione.titolo.split(' ').join('_');%>/modifica_progetto" selected><%=(versione.indice).toFixed(2)%></option>
                      <% } else{ %>
                      <option value="/profilo_utente/<%=versione.id%>/<%=versione.titolo.split(' ').join('_');%>/modifica_progetto"><%=(versione.indice).toFixed(2)%></option>
                      <% } %>
                      <% }) %>
                    </select>
                    <% } %>

                  </div>
                  <div class="form-group col-12">
                    <label class="mt-3"><b>Modello</b></label>
                    <%if (!modello.flag) { %>
                    <textarea class="form-control col-12 border-dark" style="color: black" name="Testo" rows="20" readonly><%=modello.testo%></textarea>
                    <% } else{ %>
                    <textarea class="form-control col-12 tabSupport border-dark" style="color: black" name="Testo" rows="20"><%=modello.testo%></textarea>
                    <% } %>
                  </div>
                  <%if (modello.flag) { %>
                  <div class="col-8 offset-2 justify-content-around mt-4 mb-2 row">
                    <%if (utente.moderatore == true) { %>
                      <a href="/profilo_admin/gestione_modelli" class="btn btn-secondary form-undo" role="button">Annulla modifiche</a>
                    <%if (modello.indice<1.03) { %>
                    <button type="submit" class="btn btn-info form-create">Crea nuova versione</button>
                    <% } else{ %>
                    <button type="submit" class="btn btn-info form-create-and-delete">Crea nuova versione</button>
                    <% } %>
                    <button type="submit" class="btn btn-info form-save" method="post" formaction="/profilo_admin/<%=modello.id%>/<%=modello.titolo.split(' ').join('_');%>/salva">Aggiorna versione</button>
                    <a href="/profilo_admin/<%=modello.id%>/<%=modello.titolo.split(' ').join('_');%>/valida_progetto" class="btn btn-danger form-validation" role="button">Valida modello</a>

                    <% } else{ %>
                    <a href="/profilo_utente" class="btn btn-secondary form-undo" role="button">Torna indietro</a>
                    <%if (modello.indice<1.03) { %>
                    <button type="submit" class="btn btn-info form-create">Crea nuova versione</button>
                    <% } else{ %>
                    <button type="submit" class="btn btn-info form-create-and-delete">Crea nuova versione</button>
                    <% } %>
                    <button type="submit" class="btn btn-info form-save" formaction="/profilo_utente/<%=modello.id%>/<%=modello.titolo.split(' ').join('_');%>/salva" formmethod="post">Aggiorna versione</button>
                    <a href="/profilo_utente/<%=modello.id%>/<%=modello.titolo.split(' ').join('_');%>/valida_progetto" class="btn btn-danger form-validation" role="button">Valida modello</a>

                    <% } %>
                  </div>
                  <div class="col-1 ml-2 mt-3">
                    <i id="info" class="icon-question-sign d-block" data-toggle="tooltip" data-html="true" data-placement="bottom" title="<p>Ogni modello ha uno storico delle versioni, fino ad un massimo di 3 versioni precedenti.</p>
                    <p>Sovrascrivendo la versione corrente salverai il modello sulla versione attuale.</p>
                    <p>Se scegli di creare un'altra versione, ne verrà generata una nuova contenente il testo modificato fino a quel momento.</p>
                    <p>Se hai già 3 versioni precedenti a quella attuale e scegli di crearne una nuova, ti verrà presentato un messaggio popup che chiederà la tua conferma nell'eliminare la versione meno recente.</p>"></i>
                  </div>
                  <% } %>
                </div>
                <%if (modello.flag) { %>
              </form>
              <% } else{ %>
              <div class="col-6 mt-3 mb-2 mx-auto justify-content-around row">
                <%if (utente.moderatore == true) { %>
                <a href="/profilo_admin/gestione_modelli" class="btn btn-secondary form-undo" role="button">Torna indietro</a>
                <button type="submit" class="btn btn-info form-restore-and-delete">Ripristina versione</button>
                <a href="/profilo_admin/<%=modello.id%>/<%=modello.titolo.split(' ').join('_');%>/valida_progetto" class="btn btn-danger" role="button">Valida modello</a>
                <% } else{ %>
                <a href="/profilo_utente" class="btn btn-secondary form-undo" role="button">Torna indietro</a>
                <button type="submit" class="btn btn-info form-restore-and-delete">Ripristina versione attuale</button>
                <a href="/profilo_utente/<%=modello.id%>/<%=modello.titolo.split(' ').join('_');%>/valida_progetto" class="btn btn-danger" role="button">Valida modello</a>
                <% } %>
              </div>
            </form>
            <% } %>
      </div>
    </div>
  </div>


  <!--End main content-->
  <!--footer-->
  <footer class="page-footer border-top border-dark">
    <div class="col-12 text-center text-white">
    </div>
  </footer>
  <!--End footer-->
  <a id="back-to-top" href="#up" class="back-to-top border rounded-circle" role="button"><img alt="ScrollUp" src=/images/btt.png></a>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.13.0"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
  <script src="/javascripts/moloc.js"></script>
</body>

</html>
